<footer class="bottom-footer container-fluid">
    <ul>
        <li class="footer-info">&#169;&nbsp;&nbsp;&nbsp;&nbsp;2021&nbsp;&nbsp;Designed & Created by Anurag Dhadse</li>
    </ul>
    <ul>
        <li title="My LinkedIn Page" class="svg-icon"><a href="http://linkedin.com/Anurag-117">
            <i class="fab fa-linkedin-in"></i>
        </a>
        </li>
        <li title="My Medium Page" class="svg-icon"><a href="https://anudhadse66.medium.com/">
            <i class="fab fa-medium-m"></i>
        </a>
        </li>
        <li title="Mail Me" class="svg-icon"><a href="mailto:anudhadse101@gmail.com">
            <i class="fas fa-envelope"></i></a>
        </li>
    </ul>
</footer>