@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Poppins:wght@400;600&display=swap')

.navbar
  background-color: black
  height: 3em
  ul
    padding: 0
    position: relative
    white-space: nowrap
    margin-top: 0
    margin-bottom: 0
    overflow-y: hidden
    -ms-overflow-y: hidden
    -ms-overflow-style: none
    ::-webkit-scrollbar
      display: none
      width: 0  /* Remove scrollbar space */
      height: 0
      background: transparent  /* Optional: just make scrollbar invisible */
  li
    list-style: none
    display: inline
    overflow-y: scroll
    box-sizing: content-box
  .nav-title
    padding-left: 1.3em
    margin-right: 1em
    font-family: Poppins, serif
    font-weight: 600
    font-size: 1rem
    color: white
    text-decoration: none
  .nav-links
    margin-right: 1em
    font-family: Poppins, serif
    font-weight: 400
    font-size: 0.84rem
    a
      color: white
      text-decoration: none

body
  padding-top: 50px

h1
  font-size: 2rem
  font-family: Poppins, serif
  font-weight: 600
h2
  font-size: 1.5rem
  font-family: Poppins, serif
  font-weight: 600
  margin-top: 0.6em
h3
  font-size: 1.2rem
  font-family: Poppins, serif
  font-weight: 600
  margin-top: 0.6em
p
  font-size: 1rem
  font-family: Frank Ruhl Libre, serif


/* Blog Details style */
.head-container
  position: relative
  margin: 1.6em auto
  width: 50vw
  .category
    font-size: 0.76rem
    font-family: Poppins, serif
    color: #061048
    font-weight: 400
    margin: 0.4em 0
  .description
    font-size: 1rem
    width: 40vw
    padding-right: 2rem

    margin-bottom: 0
    font-weight: 400
    opacity: 96%
  .info
    font-size: 0.76rem
    font-family: Poppins, serif
    font-weight: 400
    margin-top: 0.4em
    margin-bottom: 0
    opacity: 70%
  @media screen and (max-width: 769px)
    // 769 px or lower
    // ipad
    width: 80vw
    .description
      width: 70vw
  @media screen and (max-width: 400px)
    // 400 px or lower
    // Smartphones
    width: 95vw
    .description
      width: 90vw

.display-fig-container
  position: relative
  margin: 0.6em 0
  overflow-y: hidden
  .display-image
    overflow: hidden
    display: inline-block
    justify-content: center
    margin: 0
    padding: 0
    img
      margin: auto
      display: block
      max-width: 100%
      vertical-align: top

.side-image-content-container
  margin: 0.6em auto 1.2em auto
  width: 70vw
  position: relative
  .content
    margin:  0 0 1.2em 0
  .side-fig
    height: auto
    width: 30vw
    overflow: hidden
    display: inline-block
    margin: 0
    img
      max-width: 100%
      vertical-align: top

figcaption
  padding: 5px 1.5em 0 1.5em
  font-size: 0.7rem
  font-family: Poppins, serif
  font-weight: 400
  opacity: 80%
  text-align: center

.line
  width: 164px
  border-bottom: 2px solid #bfbfbf
  margin: 0 auto

.content-container
  margin: 0.6em auto 1.2em auto
  width: 50vw
  p ul ol li h3 h2
    margin-top: 0.6em
    margin-bottom: 1.2em

  blockquote
    margin: 1.2rem 0 0 -15px
    padding: 0 1em
    border-left: 3px solid #fb963e
    font-style: italic
    line-height: 1.5rem
    opacity: 100%
  li
    font-family: Frank Ruhl Libre, serif
  .quote
    margin: 1.2rem 0 0 0
    padding: 0 3em
    font-family: Poppins, serif
    font-style: italic
    opacity: 100%
  .center-fig-container
    position: relative
    margin: 0.6rem 0
    .center-fig
      overflow: hidden
      display: inline-block
      margin: 0
      height: auto
      width: 50vw
      img
        max-width: 100%
        vertical-align: top
  @media screen and (max-width: 769px)
    // 769 px or lower | ipad
    width: 80vw
    .center-fig-container .center-fig
      width: 95vw
  @media screen and (max-width: 400px)
    // 400 px or lower | Smartphones
    width: 95vw
    .center-fig-container .center-fig
      width: 95vw
    .quote
      padding: 0 2em



.bottom-footer
  padding: 1.5em 0
  background-color: black
  border-top: #707070 solid
  bottom: 0
  left: 0
  width: 100%
  ul
    margin: 0
    padding: 0
    display: inline-block
    position: relative
    vertical-align: middle // finally fixes the center align problem of icons and name
    li
      list-style: none
      display: inline-block
      vertical-align: bottom
  .fa-linkedin-in, .fa-medium-m, .fa-envelope
    margin: 0 0.5em 0 0.5em
    color: white
  .footer-info
    vertical-align: middle
    padding: 0 1.5em 0 1.5em
    font-family: Poppins, serif
    font-weight: 400
    color: white
    font-size: 0.7rem
  @media screen and (max-width: 415px)
    // 400 px or lower | Smartphones
    text-align: center
    ul
      margin: 0 auto
      padding: 0
    li
      padding: 0.1em
    .footer-info
      margin: 0 2em 0 2em
      padding: 0

.extra-footer
  margin-top: 5em
  color: black
  .container
    color: black
  .card
    color: black
    border: none
    .card-category
      font-family: Poppins, serif
      font-weight: 400
      color: white
      font-size: 0.7rem
    .card-title
      font-family: Poppins, serif
      font-weight: 600
      color: white
      font-size: 1rem
    .card-summary
      font-family: Frank Ruhl Libre, serif
      color: white
      font-size: 0.8rem
    .card-info
      font-family: Poppins, serif
      font-weight: 400
      color: white
      font-size: 0.8rem







