@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Poppins:wght@400;600&display=swap')

.navbar
  background-color: black
  li
    list-style: none
    display: inline
  ul
    position: relative
    white-space: nowrap
    overflow-y: hidden
    margin-bottom: 0
  .nav-title
    font-family: Poppins, serif
    font-weight: 600
    font-size: 1rem
    color: white
    text-decoration: none
  .nav-links
    font-family: Poppins, serif
    font-weight: 400
    font-size: 0.84rem
    margin-right: 1em
    a
      color: white
      text-decoration: none

body
  padding-top: 50px

h1
  font-size: 2rem
  font-family: Poppins, serif
  font-weight: 600
h2
  font-size: 1.5rem
  font-family: Poppins, serif
  font-weight: 600
h3
  font-size: 1.2rem
  font-family: Poppins, serif
  font-weight: 600
p
  font-size: 1rem
  font-family: Frank Ruhl Libre, serif



/* Blog Details style */
.head-container
  position: relative
  //background: blanchedalmond
  margin: 1.6em auto
  width: 50vw
  .category
    font-size: 0.76rem
    font-family: Poppins, serif
    color: #061048
    font-weight: 400
    margin: 0.4em 0
  .description
    font-size: 1rem
    width: 40vw
    padding-right: 2rem
    margin-bottom: 0
    font-weight: 400
    opacity: 96%
  .info
    font-size: 0.76rem
    font-family: Poppins, serif
    font-weight: 400
    margin-top: 0.4em
    margin-bottom: 0
    opacity: 70%

.display-fig-container
  position: relative
  margin: 0.6em 0
  .display-image
    overflow: hidden
    display: inline-block
    margin: 0 0 0 0
    img
      max-width: 100%
      vertical-align: top

.mid-size-fig-container
  position: relative
  margin: 0.6em 0
  .mid-size-image
    overflow: hidden
    display: inline-block
    margin: 0
    img
      max-width: 100%
      vertical-align: top

.side-image-content-container
  margin: 0.6em auto 1.2em auto
  width: 70vw
  position: relative
  .content
    margin:  0 0 1.2em 0
  .side-fig
    height: auto
    width: 30vw
    overflow: hidden
    display: inline-block
    margin: 0
    img
      max-width: 100%
      vertical-align: top

.center-fig-container
  position: relative
  margin: 0.6rem 0
  .center-fig
    height: auto
    width: 50vw
    overflow: hidden
    display: inline-block
    margin: 0
    img
      max-width: 100%
      vertical-align: top

figcaption
  font-size: 0.7rem
  font-family: Poppins, serif
  font-weight: 400
  opacity: 80%
  padding-top: 5px
  padding-right: 1.5em
  padding-left: 1.5em
  text-align: center

.line
  width: 164px
  border-bottom: 2px solid #bfbfbf
  margin: 0 auto

.content-container
  margin: 0.6em auto 1.2em auto
  width: 50vw
  .content
    margin: 1.2rem 0 0 0
  blockquote
    margin: 1.2rem 0 0 -15px
    padding: 0 1em
    border-left: 3px solid #fb963e
    font-style: italic
    line-height: 1.5rem
    opacity: 100%
  li
    font-family: Frank Ruhl Libre, serif
  .quote
    margin: 1.2rem 0 0 0
    padding: 0 3em
    font-family: Poppins, serif
    font-style: italic
    opacity: 100%

.bottom-footer
  //margin-top: 5em
  padding-bottom: 0.5em
  background-color: black
  border-top: #707070 solid
  bottom: 0
  left: 0
  width: 100%
  ul
    margin: 1em
    position: relative
    white-space: nowrap
    overflow-y: hidden
    vertical-align: bottom
    li
      list-style: none
      display: inline-block
      vertical-align: bottom
  .fa-linkedin-in, .fa-medium-m, .fa-envelope
    margin: 0 0.5em
    padding-bottom: 0.5em
    color: white
  .footer-info
    margin: 0.5em
    padding-right: 1.5em
    font-family: Poppins, serif
    font-weight: 400
    color: white
    font-size: 0.7rem

.extra-footer
  margin-top: 5em
  color: black
  .container
    color: black
  .card
    color: black
    border: none
    .card-category
      font-family: Poppins, serif
      font-weight: 400
      color: white
      font-size: 0.7rem
    .card-title
      font-family: Poppins, serif
      font-weight: 600
      color: white
      font-size: 1rem
    .card-summary
      font-family: Frank Ruhl Libre, serif
      color: white
      font-size: 0.8rem
    .card-info
      font-family: Poppins, serif
      font-weight: 400
      color: white
      font-size: 0.8rem







